<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="static/styles.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h3>Books:</h3>
            {% for book in books %}
                <div class="row row-background-{{ loop.index0 % 2 }}">
                    <div class="col-md-2">{{ book.author }}</div>
                    <div class="col-md-1">{{ book.year }}</div>
                    <div class="col-md-5">{{ book.title }}</div>
                    <div class="col-md-2">
                        <a href="/read?id={{ book.id }}" class="btn btn-primary">Read it!</a>
                    </div>
                </div>
            {% endfor %}
            <hr />
            <h3>Add author</h3>
            <form action="" method="post">
                <div class="row spacer">
                    <div class="col-md-1">Name: </div>
                    <div class="col-md-2"><input type="text" name="author"></div>
                    <div class="col-md-2">Earliest year to check: </div>
                    <div class="col-md-2"><input type="text" name="year"></div>
                    <div class="col-md-4">
                        <input type="submit" value="Add!">
                    </div>
                </div>
            </form>
        </div>
        <br /><br />
    </body>
</html>
